:host {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;

  display: block;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-header {
  color: #fff;
  background-color: var(--app-primary-color);
}

app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.drawer-list {
  margin: 0 20px;
}

.drawer-list a {
  display: block;
  padding: 0 16px;
  text-decoration: none;
  color: var(--app-secondary-color);
  line-height: 40px;
}

.drawer-list a.iron-selected {
  color: black;
  font-weight: bold;
}

iron-icon {
  margin: 0 5px;
}

.flex-row-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

.flex-row-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#login, paper-item {
  cursor: pointer;
}
